extends ../homepage

block content
  form(action=`/learners/${learner.id}/edit`, method='POST')
    //- input(type='hidden', name='_method', value='PUT')
    input(type='text', name='firstName', value=learner.firstName)
    input(type='text', name='lastName', value=learner.lastName)
    input(type='text', name='age', value=learner.age)
    button(type='submit') EDITER
